body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#header {
    background-color: white;
    color: #FFF;
    position: fixed;
    width: 100%;
    font-family: Arial;
}
#nav_bar {
	  border: 0;
	  border-radius: 0px;
    height: 60px;
    width: 100%;
    text-alignment: center;
}

.nav_links {
    padding: 0;
    list-style-type: none;
    height: 60px;
    overflow: hidden;
}

.nav_links li {
  margin-right: 20px;
  float: right;

}
.nav_links li a {
	padding: 14px 16px;
  display: block;
	color: #FF625E;
  text-align: center;
  text-decoration: none;
  float: right;
}
li a:hover {
    background-color: #704140;
    color: white;
}
.active {
  color: white;
  font-style: bold;
  float: left;
}
#LukeDulaney{
  background-color: #282828;
  height: 1100px;
}
#work {
  background-color: #FF625E;
   height: 1100px;
   width: 100%;
}
#about {
  background-color: #5983CF;
   height: 1100px;
   width: 100%;
}
#contact {
  background-color: #ACB4C2;
   height: 750px;
   width: 100%;
}
